---
layout: page
title: 'Browse Pages'
nav_order: 3
extra_js:
  - masonry.pkgd.min.js
excerpt: Browse volume pages by thumbnail.
---

<p>{{ site.volume_pages|size }} pages, {{ site.annotations|size }} annotations.</p>
<hr/>
<div class="container">
  <div class="row">
    {% for page in site.volume_pages %}
      <div class="col-auto mb-4">
        <div class="card" style="min-height: 200px;">
            <div class="card-body text-end">
            <a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}" class="stretched-link link-dark">
              <img src="{{page.images.small-thumbnail}}" loading="lazy" alt="{{page.short_label}} {{page.number}}" class="rounded mx-auto d-block" />
            </a>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
                <h5 class="card-title text-center p-2" style="background-color: #ffffffad;">{{ page.short_label}} {{ page.number }}</h5>
              </div>
              <div class="col-4">
                {% assign count = page.annotation_count %}
                {% if count != 0 %}
                  <p class="comment-count" title="{{ count }} annotation{{ count|pluralize }}">
                    {{ count }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>